<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERENA</title>
  
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./style.css" type="text/css">
</head>

<body>
    <div class="main-container">
        <header>
            <nav>
                <ul class="nav-links link-left">
                    <li><a href="#">Spring</a></li>
                    <li><a href="#">Summer</a></li>
                </ul>
            </nav>
            <div class="logo">
                <h2><a href="#">Serena</a></h2>
                <span>Tokyo</span>
            </div>
            <nav>
                <ul class="nav-links links-right">
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Bag</a></li>
                </ul>
            </nav>
            <div class="heading">
                <h1 id="test">women collection serena' 20</h1>
                <span>shop the collection</span>
            </div>
        </header>
</body>

</html>